{% extends 'base.html' %}

{% block title %}
    Db
{% endblock %}

{% block body %}
    <div class="container p-5">
        <div class="row gx-5">
            <div class="col">
                <label class="w-100 mb-2">Database
                    <select class="form-select" onchange="changeDatabase(this)">
                        {% for item in database_list %}
                            {% if item == database_name %}
                                <option value="{{ item }}" selected>{{ item }}</option>
                            {% else %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
            </div>
            <div class="col">
                <label class="w-100 mb-2">Table
                    <select class="form-select" onchange="changeTable(this)">
                        {% for item in table_list %}
                            {% if item == table_name %}
                                <option value="{{ item }}" selected>{{ item }}</option>
                            {% else %}
                                <option value="{{ item }}">{{ item }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
        <div class="row mt-5">
            <table class="table">
                <thead>
                <tr>
                    {% for item in column_list %}
                        <th scope="col">{{ item }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for item in data_list %}
                    <tr>
                        {% for col in column_list %}
                            <td>{{ item[col] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function changeDatabase(obj) {
            let database = obj.options[obj.selectedIndex].value
            window.location = `http://localhost:5000/db/${database}`
        }

        function changeTable(obj) {
            let table = obj.options[obj.selectedIndex].value
            let database = '{{ database_name }}'
            window.location = `http://localhost:5000/db/${database}/${table}`
        }
    </script>
{% endblock %}