{% extends 'base.html' %}

{% block title %}
    Image
{% endblock %}

{% block body %}
    <div class="container p-5">
        <img class="img-thumbnail" id="preview" alt="preview" style="width: 256px; height: 256px;"
             src="{{ url_for('static', filename='image/flask-icon.png') }}">
        <form class="row g-3" enctype="multipart/form-data" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            {{ form.image(class="form-control form-control-lg", id="image", onchange="handleChange()") }}
            {{ form.title(class="form-control form-control-lg", value="favicon") }}
            {% for subfield in form.size %}
                <div class="form-check form-check-inline">
                    {{ subfield(class="form-check-input") }}
                    {{ subfield.label(class="form-check-label") }}
                </div>
            {% endfor %}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
    <script>
        function handleChange() {
            const preview = $('#preview')
            const image = $('#image')[0].files[0]
            const reader = new FileReader()
            if (image) reader.readAsDataURL(image)
            reader.onload = function () {
                preview.attr('src', reader.result.toString())
            }
        }
    </script>
{% endblock %}