{% extends 'base.html' %}

{% block title %}
    Table
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">mid</th>
            <th scope="col">name</th>
        </tr>
        </thead>
        <tbody>
        {% for item in list %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.mid }}</td>
                <td>{{ item.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}